extends ../layout.pug

block content
	section#movies
		each movie in movies
			article
				a.detail-link(href='/movie/' + movie.id, id=movie.id)
					h1=movie.title
					sup=movie.tagline
					img(src='http://image.tmdb.org/t/p/w500/' + movie.poster_path)