html
	head
		link(href='/assets/css/main.css', rel='stylesheet' type='text/css')
	body
		header
			a(href='#')
				h1 What Movie To Watch?
				p The most popular movies

		block content
		script(src="/assets/js/build.js" type="text/javascript")